.comment-writing-container fieldset{
    width: 100px;
}

.comment-item {
    border: solid #E9E9E9 1px;
    padding: 12px;
    margin-bottom: 8px;
    font-size: 12px;
}

.comment-author {
    display: flex;
    align-items: center;
}

.comment-author span{
    font-weight: 1200;
}

.comment-item image {
    width: 23.35px;
    height: 23.23px;
}